<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="YOUR_CONSUMER_KEY" />
    <add key="ConsumerSecret" value="YOUR_CONSUMER_SECRET" />
    <add key="Token" value="YOUR_TOKEN" />
    <add key="TokenSecret" value="YOUR_TOKEN_SECRET" />
  </appSettings>
</configuration>
